version: 2
enable-beta-ecosystems: true
updates:
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "⬆️ "
    groups:
      uv:
        # dependency-type:
        # currently not supported: https://github.com/dependabot/dependabot-core/issues/13202
        update-types:
          - "minor"
          - "patch"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "⬆️ "
    groups:
      actions:
        update-types:
          - "minor"
          - "patch"
