name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    types: [opened, synchronize, reopened, unlabeled]
  workflow_dispatch:
    inputs:
      python-version:
        description: "Python version (leave empty for all)"
        required: false
        default: ""

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  UV_PROJECT_ENVIRONMENT: $pythonLocation

jobs:
  test-and-lint:
    name: Run Tests & Linting
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request' || !contains(github.event.pull_request.labels.*.name, 'no-ci')

    strategy:
      matrix:
        python-version: ${{ fromJson(
          github.event_name == 'workflow_dispatch' && github.event.inputs.python-version != ''
          && format('["{0}"]', github.event.inputs.python-version)
          || '["3.8", "3.9", "3.10", "3.11", "3.12"]'
          ) }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Lint with ruff
        run: uv run ruff check

      - name: Test with pytest
        run: uv run pytest

      - name: Set ty_args based on Python version
        # Check the missig-argument rule for Python versions >= 3.10
        # Exclude the opt/ directory as it is not part of the project
        run: |
          if [[ "${{ matrix.python-version }}" == "3.8" ]]; then
            echo "ty_args=--ignore missing-argument --exclude opt/" >> $GITHUB_ENV
          elif [[ "${{ matrix.python-version }}" == "3.9" ]]; then
            echo "ty_args=--ignore missing-argument --exclude opt/" >> $GITHUB_ENV
          else
            echo "ty_args=--error missing-argument" >> $GITHUB_ENV
          fi

      - name: Type check with ty
        run: uv run ty check $ty_args --output-format github

  build:
    name: Build Package
    needs: test-and-lint
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.8"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Build package
        run: uv build

      - name: Upload package artifact
        if: github.event_name == 'workflow_dispatch' || github.event_name == 'push'
        uses: actions/upload-artifact@v6
        with:
          name: built-package
          path: dist/
